@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Vibur&display=swap');

@import "tailwindcss";


@theme{
  --color-primary-yellow: #F7C35F;
  --color-primary-white: #FFFFFF;
  --color-primary-green: #2D442F;
  --color-secondary-green: #688750;
  --color-accent-green: #678551;
  --color-accent-white: #DDDDDD26;
  --color-text-green: #344C31;
  --font-livvic: "Livvic", sans-serif;
  --font-vibur: "Vibur", cursive;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--font-livvic);
}

